/* 首页的副标题 */
html[data-user-color-scheme="light"] .banner .page-header {
  color: #141414;
}


/* 首页向下的小箭头 */
html[data-user-color-scheme="light"] .scroll-down-bar i {
  color: #2d2c2c;
}


/* 首页的标题 */
html[data-user-color-scheme="light"] #navbar .navbar-brand:hover {
  color:rgba(15, 15, 15, 0.9);
}